In [ ]:
#예제 1-1
a = [1,2,3]
b = a
a.append(4) #b와 a는 동일한 객체. a가 바뀌면 b도 바뀜
b

[1, 2, 3, 4]

In [ ]:
#예제 2-1
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 138722723280592

In [ ]:
#예제 2-2
y = Gizmo() * 10

Gizmo id: 138722723268832

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [ ]:
#예제 2-3
dir()

['Bus',
 'Gizmo',
 'HauntedBus',
 'In',
 'Out',
 'TwilightBus',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_44',
 '_46',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_55',
 '_56',
 '_57',
 '_58',
 '_6',
 '_61',
 '_62',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_7',
 '_70',
 '_71',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'alex',
 'b',
 'basketball_team',
 'bus',
 'bus1',
 'bus2',
 'bus3',
 'bye',
 'c',
 'charles',
 'copy',
 'ender',
 'exit',
 'f',
 'get_ipython',
 'l1',
 'l2',
 'lewis',
 'quit',
 's2',
 't',
 't1',
 't2',
 'u',
 'weakref',
 'x',
 'y']

In [ ]:
#예제 3-1
charles = {'name' : 'Charles L. Dodgson', 'born' : 1832}
lewis = charles
lewis is charles

True

In [ ]:
#예제 3-2
id(charles), id(lewis)

(138722717344256, 138722717344256)

In [ ]:
#예제 3-3
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [ ]:
#예제 4-1
alex = {'name' : 'Charles L. Dodgson', 'born' : 1832, 'balance' : 950}
alex == charles

True

In [ ]:
#예제 4-2
alex is charles

False

In [ ]:
#예제 5-1
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [ ]:
#예제 5-2
id(t1[-1])

138722717120512

In [ ]:
#예제 5-3
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 138722717120512)

In [ ]:
#예제 5-4
t1 == t2

False

In [ ]:
#예제 5-5
l1 = [3,[55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [ ]:
#예제 5-6
l2 == l1

True

In [ ]:
#예제 5-7
l2 is l1

False

In [ ]:
#예제 6-1
l1 = [3,[55,44], (7,8,9)]
l2 = list(l1)

In [ ]:
#예제 6-2
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]

In [ ]:
#예제 6-3
l2[1] += [33,22]
l2[2] += (10,11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

In [ ]:
#예제 7
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

In [ ]:
#예제 8-1
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(138722718371024, 138722718383024, 138722718377168)

In [ ]:
#예제 8-2
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [ ]:
#예제 8-3
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(138722717585536, 138722717585536, 138722718433408)

In [ ]:
#예제 9-1
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [ ]:
#예제 9-2
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [ ]:
#예제 10-1
def f(a,b) :
    a += b
    return a
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [ ]:
#예제 10-2
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [ ]:
#예제 10-3
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [ ]:
#예제 11-1
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    def __init__(self, passengers=[]):
        self.passengers = passengers
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

In [ ]:
#예제 12-1
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [ ]:
#예제 12-2
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [ ]:
#예제 12-3
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [ ]:
#예제 12-4
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [ ]:
#예제 12-5
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [ ]:
#예제 12-6
bus2.passengers is bus3.passengers

True

In [ ]:
#예제 12-7
bus1.passengers

['Bill', 'Charlie']

In [ ]:
#예제 12-8
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [ ]:
#예제 12-9
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [ ]:
#예제 13
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

In [ ]:
#예제 14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [ ]:
#예제 15
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

In [ ]:
#예제 16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [ ]:
#예제 17-1
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
    print('Gone with the wind...')

In [ ]:
#예제 17-2
ender = weakref.finalize(s1, bye)
ender.alive

True

In [ ]:
#예제 17-3
del s1
ender.alive

True

In [ ]:
#예제 17-4
s2 = 'spam'

Gone with the wind...

In [ ]:
#예제 17-5
ender.alive

False